<div class="todoDiv">
    <input type="text"
           [value]="task"
           (focus)="getFocus($event)"
           (blur)="getBlur($event)"
           (change)="changeTask($event)"
           [ngClass]="getClassName()"/>
    <button
      type="button"
      (click)="deleteTask()">
        Delete
    </button>
</div>
