.todoDiv {
  margin-bottom: 15px;
  border: 1px solid black;
  padding: 10px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.input {
  border: none;
  outline: none;
  width: 50%;
}

.focus {
  border-bottom: 2px solid red;
}
