<form
  (submit)="addTask($event)">
  <input
    [(ngModel)]="mainTask"
    type="text"
    name="newTask"
    placeholder="Add new task">
  <button type="submit">Add</button>
</form>
<app-to-do-list
  *ngFor="let task of arrayTasks; let i = index"
  [task]="task"
  (changedTask)="changeTextOfTask(i, $event)"
  (deletedTask)="deleteTaskFromPage(i)">
</app-to-do-list>
